<%= form_for @qualificacao, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
		<% if @qualificacao.cliente %>
			<%= f.hidden_field 'cliente_id' %>
		<% else %>    
			<%= f.label :cliente_id, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.collection_select(:cliente_id, @clientes, :id, :nome, {prompt: true}) %>
		  </div>
		<% end %>
  </div>
  <div class="control-group">
		<% if @qualificacao.restaurante %>
			<%= f.hidden_field 'restaurante_id' %>
		<% else %>
		  <%= f.label :restaurante_id, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.collection_select(:restaurante_id, @restaurantes, :id, :nome, {prompt: true}) %>
		  </div>
		<% end %>
  </div>
  <div class="control-group">
    <%= f.label :nota, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nota, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :valor_gasto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :valor_gasto, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                qualificacoes_path, :class => 'btn' %>
  </div>
<% end %>
